*~
build/
lib/
bin/
srv_gen/
msg_gen/
.project
.pydevproject
.cproject
.DS_Store
*.pyc
*.dox
*.o
_*
.settings
dynamic_window/cmake_install.cmake
*.pos
schunk_gui/history
schunk_gui/gui2_altern.glade
schunk_gui/baks/
*.lsa
ROS_NOBUILD
ignore/
*.stack
*.lisp
*.asd
*.asd-dep
